 <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Nueva Marca</h3>
    </div>
    <div class="modal-body">
		<div class="alert {{claseMensaje}}" ng-show="resultado">
		 	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h2><i class="fa {{icoMensaje}}"></i> {{mensaje}}</h2>
		</div>
		<form name="nmform" class="form-horizontal" role="form" novalidate>
			<form-element label="Nombre">
                <input type="text" class="autoFocus form-control" name="nombre_marca" placeholder="Nombre" ng-model="nmform.data.nombre_marca" autocomplete="off" focus />
            </form-element>
			<div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i> Cancelar</a>
                        <button ng-click="guardarMarca(nmform.data);"
                                ng-disabled="nmform.data.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i> Guardar Marca
                        </button>
                    </div>
                </form-element>
            </div>
		</form>
	</div>